.contract-error {
  background-color: #f2dede;
  color: #a94442;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}
.portfolio-content {
	margin: 10px;
}
#portfolio-name {
	display: inline;
}
.button-container {
	margin: 10px;
}
body {
	padding-top: 70px;
}
.bootstrap-select a:focus
{ 
	outline: none;
}
#constraint-edit-container .form-inline {
	margin-top: 3px;
	margin-bottom: 3px;
}

#constraint-edit-container .checkbox {
	margin-top: 5px;
}

#constraint-edit-container .delete-constraint-group {
	margin-left: 5px;
	margin-top: -3px;
}

#constraint-edit-container .delete-constraint-group:focus {
	outline: none;
}

#constraint-edit-container .group-names {
	font-weight: normal;
	font-style: italic;
}
#constraint-edit-container input.constraint-name {
	margin-left: 5px;
}
#constraint-edit-container input.constraint-name {
	margin-left: 5px;
}
#constraint-edit-container .form-group {
	margin-top: 10px;
}
#bambam-analytics button:focus {
	outline: none;
};